<%-include("header")%>
<section class="super_form"> 
    <p>Enter the csv to veiw</p>
<form action="/Starter"  method="post" enctype="multipart/form-data"> 
    <input type="file"  name="i" accept="csv"></input>
    <button type="submit">Press here to submit csv</button>
</form>
</section>